main {
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	position: fixed;
}

/* This element takes up the entire screen, except for the navbar */
#container {
	flex: 1;
	height: 100vh;
	max-height: 100vh;
	width: 100%;
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	padding: 1rem;
}

#nav-info {
	padding-bottom: 2rem;
}

img,
svg {
	/* Dit is nodig zodat backbone geen click event triggert op een <a> */
	pointer-events: none;
}

.jq-toast-wrap {
	position: fixed;
	z-index: 100;
}

#view--home {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 80% 100px;

	overflow-y: hidden;
}

#view--home-title {
	grid-column: 1/-1;
	text-align: end;
}

#view--home-picture {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#view--home-picture img {
	max-height: 100%;
	max-width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#view--home-bottom {
	grid-column: 1/-1;
	padding-bottom: 0.75rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#view--home-song {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#view--home-song-cover img {
	width: 70px;
	height: 70px;
}

#view--home-song-info {
	display: flex;
	margin-right: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

#view--home-weather {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#view--home-weather-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#view--home-weather-info > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding-left: 1rem;
	margin-left: 1rem;
	border-left: 2px solid black;
}

#view--home-weather-info > div > p {
	margin: 0;
	padding: 0;
}

#view--home-quote {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#view--home-quote > .italic {
	font-style: italic;
}

#view--not-found {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#view--music {
	height: 100%;

	display: grid;
	grid-template-rows: min-content max-content auto min-content;
}

#view--music > .navigation-bar {
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

#view--about {
	height: 100%;
}
